Endereço:{{ location?.address }}, {{ location?.city }}, {{location?.country}}
<div>
    <label for="address"> Endereço: </label><br>
    <input ref-address type="text" id="address" name="address"><br>
    <label for="city"> Cidade: </label><br>
    <input ref-city type="text" id="city" name="city"><br>
    <label for="country"> Pais: </label><br>
    <input ref-country type="text" id="country" name="country">

    <button (click)="Atualizar(address.value,city.value,country.value)">Confirmar</button>
</div>